<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Erdbeere</string>
	<string>Italien</string>
	<string>Rumänien</string>
	<string>Schweden</string>
	<string>Schweiz</string>
	<string>Spanien</string>
	<string>Dänemark</string>
	<string>Deutschland</string>
	<string>Österreich</string>
	<string>Liechtenstein</string>
	<string>Tschechische Republik</string>
	<string>Türkei</string>
	<string>Ukraine</string>
	<string>Ungarn</string>
	<string>Finnland</string>
	<string>Frankreich</string>
	<string>Norwegen</string>
	<string>Griechenland</string>
	<string>Holland</string>
	<string>Polen</string>
</array>
</plist>
