<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Amphitrite
</string>
	<string>Äolos</string>
	<string>Aphrodite</string>
	<string>Apollon</string>
	<string>Ares
Artemis
Athene
Atropos
Ate
Atlas
Boreas
Chaos
Centaur</string>
	<string>Artemis</string>
	<string>Atropos</string>
	<string>Atlas</string>
	<string>Boreas</string>
	<string>Chaos</string>
	<string>Centaur</string>
	<string>Daphne</string>
	<string>Athene</string>
	<string>Ate</string>
	<string>Dionysos</string>
	<string>Dike</string>
	<string>Endymion</string>
	<string>Epimetheus</string>
	<string>Erato</string>
	<string>Eris</string>
	<string>Erinyen</string>
	<string>Eros</string>
	<string>Eos</string>
	<string>Europa</string>
	<string>Demeter</string>
	<string>Euterpe</string>
	<string>Klotho</string>
	<string>Koios</string>
	<string>Korybanten</string>
	<string>Kreios</string>
	<string>Kronos</string>
	<string>Kyklopen</string>
	<string>Lachesis</string>
	<string>Leto</string>
	<string>Melete</string>
	<string>Melpomene</string>
	<string>Metis</string>
	<string>Mneme</string>
	<string>Mnemosyne</string>
	<string>Moiren</string>
	<string>Nemesis</string>
	<string>Nereus</string>
	<string>Nymphe</string>
	<string>Nyx</string>
	<string>Okeanos</string>
	<string>Orion</string>
	<string>Pallas</string>
	<string>Pan</string>
	<string>Pandora</string>
	<string>Peitho</string>
	<string>Phoibe</string>
	<string>Polyhymnia</string>
	<string>Poseidon</string>
	<string>Prometheus</string>
	<string>Proteus</string>
	<string>Phorkys</string>
	<string>Priapos</string>
	<string>Rheia</string>
	<string>Styx</string>
	<string>Selene</string>
	<string>Silenos</string>
	<string>Telchinen</string>
	<string>Terpsichore</string>
	<string>Tethys</string>
	<string>Thalia</string>
	<string>Thanatos</string>
	<string>Theia</string>
	<string>Themis</string>
	<string>Themes</string>
	<string>Triton</string>
	<string>Tyche</string>
	<string>Urania</string>
	<string>Zelos</string>
	<string>Zephyros</string>
	<string>Zerberus</string>
	<string>Zeus</string>
	<string>Gaia</string>
	<string>Gäa</string>
	<string>Ge</string>
	<string>Glaukos</string>
	<string>Hades</string>
	<string>Hebe</string>
	<string>Hekate</string>
	<string>Hekatoncheiren</string>
	<string>Helios</string>
	<string>Hephaistos</string>
	<string>Iris</string>
	<string>Kairos</string>
	<string>Kalliope</string>
	<string>Klio</string>
	<string>Hephästos</string>
	<string>Hera</string>
	<string>Herakles</string>
	<string>Hermaphroditos</string>
	<string>Hermes</string>
	<string>Hestia</string>
	<string>Horen</string>
	<string>Hybris</string>
	<string>Hypnos</string>
	<string>Iakchos</string>
	<string>Iapetos</string>
</array>
</plist>
